{{!-- <section class="card">
  <a href="/blog/{{id}}">
    <header>{{blog.title}}</header>
    <div class="card-body">
      <p>By: {{author}}</p>
      <p>{{contents}}</p>
    </div>
  </a>
</section> --}}