<section class="card">
    <header>Create a Post</header>
    <div class="card-body">
        <form id="new-post">
            <label for="postTitle">Title:</label>
            <input type="text" id="postTitle" name="postTitle" placeholder="Enter post title">
            <br />
            <textarea id="postContent" placeholder="Write your post here"></textarea>
            <br />
            <button type="submit">Create Post</button>
        </form>
</section>

<script src="/js/newPost.js"></script>