<section class="card">
    <header>Create a Post</header>
    <div class="card-body">
        <form id="new-post">
            <div class="card-body">
                <label for="postTitle">Title:</label>
                <input type="text" id="postTitle" name="postTitle" placeholder="Enter post title">
            </div>
            <div>
                <textarea id="postContent" placeholder="Write your post here"></textarea>
            </div>
            <button type="submit">Create Post</button>
        </form>
</section>

<script src="/js/newPost.js"></script>