{{#if loggedIn}}
<section class="card">
    <header>Dashboard</header>
  <div class="card-body">
    {{#if blog.length}}
    <ul>
      {{#each user.blog.post as |post|}}
        <li>
          <h3>{{post.title}}</h3>
          <p>{{post.contents}}</p>
          <!-- Add other post details as needed -->
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No posts yet.</p>
  {{/if}}
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}