<section class="card-body">
</section>

<section class="card">

  <form id="update-post">
    <input type="hidden" value="{{post.id}}" id="postId">
    <div>
      <label for="postTitle">Title:</label>
      <input type="text" id="postTitle" name="postTitle" value="{{post.title}}">
    </div>
    <div>
      <textarea id="postContent">{{post.contents}}</textarea>

    </div>


    <button class="card-body" type="submit">Edit Post</button>
    <button class="card-body" type="button" id="delete">Delete Post</button>
  </form>

</section>


<script src="/js/updatePost.js"></script>